.unauthorized-image {
  width: 100%;
  max-width: 15rem;
}

.unauthorized-page-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.unauthorized-page-main {
  align-items: center;
}
