.favorite-button {
  fill: #ffff00;
}

.favorite-button-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.favorite-button-container:hover {
  scale: 1.04;
  cursor: pointer;
}

.favorite-button-container:hover .unfavorite-button {
  fill: rgba(255, 255, 255, 0.9);
}

.unfavorite-button {
  fill: rgba(255, 255, 255, 0.75);
}
