.operator-info-div {
  display: flex;
}

.operator-page-bottom-div,
.operator-page-top-div {
  display: flex;
  width: 75vw;
  max-width: 50rem;
}

.operator-page-header {
  font-weight: bold;
  margin: 0;
}

.operator-page-level-input {
  width: 2rem;
}

.operator-page-level-input::-webkit-inner-spin-button,
.operator-page-level-input::-webkit-outer-spin-button {
  display: none;
}

.operator-page-level-label,
.operator-page-promotion-label {
  display: flex;
  align-items: center;
}

.operator-page-main {
  align-items: center;
}

.operator-page-operator-icon {
  width: 100%;
  height: auto;
}

.operator-page-promotion-icon:hover {
  cursor: pointer;
}

.operator-page-promotion-level-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.operator-page-promotion-icon {
  display: block;
  object-fit: cover;
  aspect-ratio: 3/2.5;
}

.operator-page-top-div {
  justify-content: space-between;
}

.operator-position,
.operator-tag-list {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px rgba(255, 255, 255, 0.5) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.operator-position-tag-list-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.operator-profession,
.operator-sub-profession {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px rgba(255, 255, 255, 0.5) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
}

.operator-rarity-div {
  display: flex;
}

.operator-rarity-star {
  rotate: 12deg;
}

@media only screen and (max-width: 500px) {
  .operator-info-div,
  .operator-page-top-div {
    gap: 0.5rem;
  }

  .operator-page-header {
    font-size: 2.5rem;
  }

  .operator-page-level-input,
  .operator-page-level-label,
  .operator-position,
  .operator-page-promotion-label,
  .operator-tag-list {
    font-size: 0.7rem;
  }

  .operator-page-right-div {
    max-width: 8rem;
  }

  .operator-page-promotion-icon {
    height: 1.5rem;
  }

  .operator-page-promotion-level-div {
    gap: 0.5rem;
    margin-top: 0.25rem;
  }

  .operator-position,
  .operator-position-tag-list-div,
  .operator-tag-list {
    padding: 0 0.25rem;
  }

  .operator-profession,
  .operator-sub-profession {
    max-height: 2rem;
    width: auto;
  }

  .operator-rarity-star {
    height: 0.95rem;
    width: auto;
  }

  .operator-rarity-star-div {
    width: 0.7rem;
  }
}

@media only screen and (min-width: 501px) and (max-width: 1000px) {
  .operator-info-div,
  .operator-page-top-div {
    gap: 1rem;
  }

  .operator-page-header {
    font-size: 3rem;
  }

  .operator-page-level-input,
  .operator-page-level-label,
  .operator-position,
  .operator-page-promotion-label,
  .operator-tag-list {
    font-size: 0.9rem;
  }

  .operator-page-promotion-icon {
    height: 2rem;
  }

  .operator-page-promotion-level-div {
    gap: 1rem;
    margin-top: 0.5rem;
  }

  .operator-position,
  .operator-position-tag-list-div,
  .operator-tag-list {
    padding: 0 0.5rem;
  }

  .operator-profession,
  .operator-sub-profession {
    max-height: 2.5rem;
    width: auto;
  }

  .operator-rarity-star {
    height: 1.2rem;
    width: auto;
  }

  .operator-rarity-star-div {
    width: 0.9rem;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1500px) {
  .operator-info-div,
  .operator-page-top-div {
    gap: 1rem;
  }

  .operator-page-header {
    font-size: 3.5rem;
  }

  .operator-page-level-input,
  .operator-page-level-label,
  .operator-position,
  .operator-page-promotion-label,
  .operator-tag-list {
    font-size: 1.1rem;
  }

  .operator-page-promotion-icon {
    height: 3rem;
  }

  .operator-page-promotion-level-div {
    gap: 1rem;
    margin-top: 0.5rem;
  }

  .operator-position,
  .operator-position-tag-list-div,
  .operator-tag-list {
    padding: 0 0.75rem;
  }

  .operator-profession,
  .operator-sub-profession {
    max-height: 3rem;
    width: auto;
  }

  .operator-rarity-star {
    height: 1.45rem;
    width: auto;
  }

  .operator-rarity-star-div {
    width: 1.1rem;
  }
}

@media only screen and (min-width: 1501px) {
  .operator-info-div,
  .operator-page-top-div {
    gap: 1rem;
  }

  .operator-page-header {
    font-size: 4rem;
  }

  .operator-page-level-input,
  .operator-page-level-label,
  .operator-position,
  .operator-page-promotion-label,
  .operator-tag-list {
    font-size: 1.25rem;
  }

  .operator-page-promotion-icon {
    height: 3.5rem;
  }

  .operator-page-promotion-level-div {
    gap: 1rem;
    margin-top: 0.5rem;
  }

  .operator-position,
  .operator-position-tag-list-div,
  .operator-tag-list {
    padding: 0 1rem;
  }

  .operator-profession,
  .operator-sub-profession {
    max-height: 4rem;
    width: auto;
  }

  .operator-rarity-star {
    height: 1.65rem;
    width: auto;
  }

  .operator-rarity-star-div {
    width: 1.25rem;
  }
}
