.operators-page-delete-button {
  color: rgb(200, 0, 0);
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  border: none;
  border-radius: 0.25rem;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}

.operators-page-delete-button:hover,
.operators-page-manage-button:hover {
  cursor: pointer;
}

.operators-page-header {
  font-weight: bold;
}

.operators-page-main {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.05)
  );
  border-radius: 1rem;
}

.operators-page-manage-button {
  background-color: white;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.25rem 1rem;
  width: 9rem;
  height: 2rem;
  border: none;
  border-radius: 1rem;
}

.operators-page-manage-buttons-div {
  display: flex;
  gap: 1rem;
}

.operators-page-operator {
  display: flex;
  position: relative;
}

.operators-page-operators-div {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
}

@media only screen and (max-width: 500px) {
  .operators-page-header {
    font-size: 2.5rem;
  }

  .operators-page-main {
    padding: 1.25rem;
    gap: 0.5rem;
  }

  .operators-page-operators-div {
    height: calc(100vh - 4rem - 1rem - 4rem - 1.55rem - 2.5rem);
  }
}

@media only screen and (min-width: 501px) and (max-width: 1000px) {
  .operators-page-header {
    font-size: 3rem;
  }

  .operators-page-main {
    padding: 2rem;
    gap: 1rem;
  }

  .operators-page-operators-div {
    height: calc(100vh - 4rem - 1rem - 4rem - 3rem - 1.2rem - 3rem);
  }
}

@media only screen and (min-width: 1001px) {
  .operators-page-header {
    font-size: 3.5rem;
  }

  .operators-page-main {
    padding: 2rem;
    gap: 1rem;
  }

  .operators-page-operators-div {
    height: calc(100vh - 4rem - 1rem - 4rem - 3rem - 1.75rem - 3rem);
  }
}
