.favorite-icon {
  fill: #ffff00;
}

.favorite-icon-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.favorite-icon-container:hover {
  cursor: pointer;
}

.operators-page-delete-button {
  color: white;
  background-color: rgb(200, 0, 0);
  width: 100%;
  height: 100%;
  border: none;
  padding: 0.25rem;
}

.operators-page-delete-button-div {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0rem;
  right: 0rem;
}

.operators-page-delete-button:hover,
.operators-page-manage-button:hover,
.operators-page-operator-card-promotion-icon:hover {
  cursor: pointer;
}

.operators-page-header {
  font-weight: bold;
}

.operators-page-main {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.05)
  );
}

.operators-page-manage-button {
  background-color: white;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.25rem 1rem;
  width: 9rem;
  min-height: 2rem;
  border: none;
}

.operators-page-manage-buttons-div {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.operators-page-operator {
  position: relative;
}

.operators-page-operator-card-bottom-div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  margin-top: 0.25rem;
}

.operators-page-operator-card-div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.operators-page-operator-card-div:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.operators-page-operator-card-level-input {
  width: 2rem;
}

.operators-page-operator-card-level-input::-webkit-inner-spin-button,
.operators-page-operator-card-level-input::-webkit-outer-spin-button {
  display: none;
}

.operators-page-operator-card-level-label {
  align-items: baseline;
}

.operators-page-operator-card-level-label,
.operators-page-operator-card-promotion-label {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.operators-page-operator-card-promotion-icon {
  width: 66%;
  display: block;
  object-fit: cover;
  aspect-ratio: 3/2.5;
}

.operators-page-operator-card-promotion-label {
  align-items: center;
  width: 100%;
}

.operators-page-operators-div {
  display: grid;
  gap: 0.5rem;
  align-content: start;
  overflow: auto;
}

@media only screen and (max-width: 500px) {
  .operators-page-header {
    font-size: 2.5rem;
  }

  .operators-page-main {
    padding: 1.25rem;
    gap: 0.5rem;
  }

  .operators-page-operator-card-level-input,
  .operators-page-operator-card-level-label {
    font-size: 0.7rem;
  }

  .operators-page-operators-div {
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    height: calc(100vh - 4rem - 1rem - 4rem - 1.55rem - 2.5rem);
  }
}

@media only screen and (min-width: 501px) and (max-width: 1000px) {
  .operators-page-header {
    font-size: 3rem;
  }

  .operators-page-main {
    padding: 2rem;
    gap: 1rem;
  }

  .operators-page-operator-card-level-input,
  .operators-page-operator-card-level-label {
    font-size: 0.9rem;
  }

  .operators-page-operators-div {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    height: calc(100vh - 4rem - 1rem - 4rem - 3rem - 1.2rem - 3rem);
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1500px) {
  .operators-page-header {
    font-size: 3.5rem;
  }

  .operators-page-main {
    padding: 2rem;
    gap: 1rem;
  }

  .operators-page-operator-card-level-input,
  .operators-page-operator-card-level-label {
    font-size: 1.1rem;
  }

  .operators-page-operators-div {
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    height: calc(100vh - 4rem - 1rem - 4rem - 3rem - 1.75rem - 3rem);
  }
}

@media only screen and (min-width: 1501px) {
  .operators-page-header {
    font-size: 4rem;
  }

  .operators-page-main {
    padding: 2rem;
    gap: 1rem;
  }

  .operators-page-operator-card-level-input,
  .operators-page-operator-card-level-label {
    font-size: 1.25rem;
  }

  .operators-page-operators-div {
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    height: calc(100vh - 4rem - 1rem - 4rem - 3rem - 1.75rem - 3.6rem);
  }
}
