.landing-page-operators-div {
  display: grid;
  gap: 0.5rem;
  align-content: start;
  height: 100%;
  overflow: auto;
}

@media only screen and (max-width: 500px) {
  .landing-page-operators-div {
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  }
}

@media only screen and (min-width: 501px) and (max-width: 1000px) {
  .landing-page-operators-div {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1500px) {
  .landing-page-operators-div {
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  }
}

@media only screen and (min-width: 1501px) {
  .landing-page-operators-div {
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  }
}
