.not-found-image {
  width: 100%;
  max-width: 15rem;
}

.not-found-page-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem;
}
