.operator-placeholder-button {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 3rem;
  width: 100%;
}

.operator-placeholder-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.operator-placeholder-div {
  display: flex;
  aspect-ratio: 1/2;
}

.squad-page-delete-button {
  color: white;
  background-color: rgb(200, 0, 0);
  width: 100%;
  height: 100%;
  border: none;
  padding: 0.25rem;
}

.squad-page-delete-button-div {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0rem;
  right: 0rem;
}

.squad-page-delete-button:hover,
.squad-page-manage-button:hover {
  cursor: pointer;
}

.squad-page-main {
  align-items: center;
}

.squad-page-manage-button {
  background-color: white;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.25rem 1rem;
  width: 9rem;
  min-height: 2rem;
  border: none;
}

.squad-page-manage-buttons-div {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.squad-page-operator {
  position: relative;
}

.squad-page-operator:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.squad-page-operator:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.squad-page-operators-div {
  display: grid;
  gap: 0.5rem;
  justify-content: center;
  align-content: start;
  overflow: auto;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .squad-page-operators-div {
    grid-template-columns: repeat(auto-fit, minmax(3.95rem, 1fr));
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 501px) and (max-width: 1000px) {
  .squad-page-operators-div {
    grid-template-columns: repeat(6, minmax(3.95rem, 1fr));
    max-width: 40rem;
    height: 100%;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1500px) {
  .squad-page-operators-div {
    grid-template-columns: repeat(6, minmax(6rem, 1fr));
    max-width: 50rem;
    height: 100%;
  }
}

@media only screen and (min-width: 1501px) {
  .squad-page-operators-div {
    grid-template-columns: repeat(6, minmax(6rem, 1fr));
    max-width: 60rem;
    height: 100%;
  }
}
