.operator-placeholder-div-button {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  aspect-ratio: 1/2;
  width: 100%;
  border: none;
  font-size: 3rem;
}

.operator-placeholder-div-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.squad-page-delete-button {
  color: white;
  background-color: rgb(200, 0, 0);
  width: 100%;
  height: 100%;
  border: none;
  padding: 0.25rem;
}

.squad-page-delete-button-div {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}

.squad-page-delete-button:hover,
.squad-page-manage-button:hover {
  cursor: pointer;
}

.squad-page-header {
  font-weight: bold;
  width: 100%;
}

.squad-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.05)
  );
}

.squad-page-manage-button {
  background-color: white;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.25rem 1rem;
  width: 9rem;
  min-height: 2rem;
  border: none;
}

.squad-page-manage-buttons-div {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.squad-page-operator {
  position: relative;
}

.squad-page-operator:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.squad-page-operator:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.squad-page-operators-div {
  display: grid;
  gap: 0.5rem;
  justify-content: center;
  align-content: start;
  overflow: auto;
}

@media only screen and (max-width: 500px) {
  .squad-page-header {
    font-size: 2.5rem;
  }

  .squad-page-main {
    padding: 1.25rem;
    gap: 0.5rem;
  }

  .squad-page-operators-div {
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    width: 100%;
    height: calc(100vh - 4rem - 1rem - 4rem - 1.55rem - 2.5rem);
  }
}

@media only screen and (min-width: 501px) and (max-width: 1000px) {
  .squad-page-header {
    font-size: 3rem;
  }

  .squad-page-main {
    padding: 2rem;
    gap: 1rem;
  }

  .squad-page-operators-div {
    grid-template-columns: repeat(6, minmax(4.5rem, 1fr));
    max-width: 40rem;
    height: calc(100vh - 4rem - 1rem - 4rem - 3rem - 1.2rem - 3rem);
  }
}

@media only screen and (min-width: 1001px) {
  .squad-page-header {
    font-size: 3.5rem;
  }

  .squad-page-main {
    padding: 2rem;
    gap: 1rem;
  }

  .squad-page-operators-div {
    grid-template-columns: repeat(6, minmax(6rem, 1fr));
    max-width: 50rem;
    height: calc(100vh - 4rem - 1rem - 4rem - 3rem - 1.75rem - 3rem);
  }
}
