.add-material-modal-buttons-div {
  display: flex;
  gap: 1rem;
}

.add-material-modal-div {
  color: white;
  background-color: #121212;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.add-material-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.add-material-modal-material-card {
  width: 100%;
  border-radius: 0.25rem;
  position: relative;
}

.add-material-modal-material-card:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.add-material-modal-material-card.selected,
.add-material-modal-material-card:active {
  background-color: rgba(255, 255, 255, 0.25);
}

.add-material-modal-material-icon {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}

/* .add-material-modal-material-icon-div {
} */

.add-material-modal-material-name {
  width: 100%;
  font-size: 0.75rem;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

.add-material-modal-materials-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4.5rem, 1fr));
  gap: 0.25rem;
  width: 50vw;
  max-width: 66rem;
  height: 30rem;
  overflow: auto;
}

.cancel-add-button {
  background-color: rgba(255, 255, 255, 0.75);
}

.cancel-add-button,
.confirm-add-button {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  height: 3rem;
  border: none;
  border-radius: 1.5rem;
}

.cancel-add-button:hover,
.confirm-add-button:hover {
  cursor: pointer;
  scale: 1.04;
}

.confirm-add-button {
  background-color: #3b83e8;
}

input[type='checkbox'] {
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 700px) {
  .add-material-modal-bottom-div {
    flex-direction: column;
    gap: 1rem;
  }

  .add-material-modal-div {
    padding: 3rem 2rem;
  }
}

@media only screen and (min-width: 701px) {
  .add-material-modal-bottom-div {
    gap: 1.5rem;
  }

  .add-material-modal-div {
    padding: 4rem 6rem;
  }
}
