.login-modal-arkbites-logo {
  height: auto;
  min-width: 3rem;
  width: 25%;
  margin-bottom: 0.5rem;
}

.login-modal-button {
  background-color: #3b83e8;
  font-weight: bold;
  margin-top: 1rem;
  min-height: 2.5rem;
  padding: 0.5rem;
  border: none;
}

.login-modal-button:hover {
  cursor: pointer;
  scale: 1.04;
}

.login-modal-button:last-of-type {
  color: #3b83e8;
  background-color: transparent;
  border: 2px #3b83e8 solid;
  margin-top: 1.5rem;
}

.login-modal-div {
  color: white;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-self: center;
  text-align: center;
}

.login-modal-error {
  color: #f3727f;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}

.login-modal-form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  width: 75%;
  max-width: 20rem;
  text-align: left;
}

.login-modal-h1 {
  margin: 0;
}

.login-modal-input {
  color: white;
  background-color: transparent;
  outline: 1px #7c7c7c solid;
  border: none;
  margin: 0.5rem 0;
  padding: 0.75rem;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.login-modal-input:focus {
  outline: 3px white solid;
  border: none;
}

.login-modal-input:has(+ .login-modal-error) {
  outline: 3px #f3727f solid;
  border: none;
}

.login-modal-label {
  color: white;
  font-weight: bold;
  margin-top: 0.5rem;
}

.login-modal-label:first-of-type {
  margin-top: 0;
}

@media only screen and (max-width: 700px) {
  .login-modal-button {
    font-size: 0.8rem;
  }

  .login-modal-div {
    padding: 2rem;
  }

  .login-modal-input {
    font-size: 0.8rem;
  }

  .login-modal-label {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1100px) {
  .login-modal-button {
    font-size: 1rem;
  }

  .login-modal-div {
    padding: 2rem 6rem;
  }

  .login-modal-input {
    font-size: 1rem;
  }

  .login-modal-label {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 1101px) {
  .login-modal-button {
    font-size: 1rem;
  }

  .login-modal-div {
    padding: 2rem 12rem;
  }

  .login-modal-input {
    font-size: 1rem;
  }

  .login-modal-label {
    font-size: 0.9rem;
  }
}
