.arkbites-logo {
  width: 2rem;
  height: 2rem;
  display: block;
}

.arkbites-logo-div {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;
}

.arkbites-logo-div:hover,
.log-in-button > button:hover,
.log-out-button:hover,
.nav-menu-button:hover,
.profile-button > button:hover,
.sign-up-button > button:hover {
  cursor: pointer;
}

.arkbites-logo-div:hover,
.log-in-button > button:hover,
.nav-menu-button:hover,
.profile-button > button:hover,
.sign-up-button > button:hover {
  scale: 1.04;
}

.log-in-button > button {
  color: black;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  box-sizing: border-box;
  padding: 0 32px;
  border: none;
  border-radius: 24px;
  display: flex;
  align-items: center;
}

.log-in-button > button:hover {
  background-color: #f0f0f0;
}

.log-out-button {
  border-radius: 0.25rem;
}

.log-out-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-container {
  background-color: black;
  height: 4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.nav-container-center {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 1rem;
  width: 100%;
  box-sizing: border-box;
}

.nav-container-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-container-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-link {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link-div {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
}

.nav-menu-button {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.nav-menu-button {
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.nav-menu-dropdown {
  color: #ffffffe6;
  background-color: #282828;
  width: 12rem;
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 3rem;
  font-weight: bold;
  text-align: center;
  z-index: 50;
  box-sizing: border-box;
}

.nav-menu-dropdown li {
  padding: 0.75rem;
  border-radius: 0.25rem;
  list-style-type: none;
  border-top: 1px rgba(255, 255, 255, 0.1) solid;
}

.nav-menu-dropdown li:first-of-type {
  border-top: none;
}

.nav-menu-dropdown li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.profile-button > button {
  color: #3b83e8;
  background-color: #1f1f1f;
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
}

.profile-dropdown {
  color: #ffffffe6;
  background-color: #282828;
  width: 12rem;
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  position: absolute;
  right: 0;
  font-weight: bold;
  z-index: 50;
  box-sizing: border-box;
}

.profile-dropdown li {
  padding: 0.75rem;
  list-style-type: none;
}

.profile-dropdown li:first-of-type {
  border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
}

.arkbites-logo-div:active,
.log-out-button:hover,
.profile-button > button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.sign-up-button > button {
  color: #b3b3b3;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  height: 32px;
  box-sizing: border-box;
  padding: 0 16px;
  border: none;
  border-radius: 16px;
  display: flex;
  align-items: center;
}

.sign-up-button > button:hover {
  color: white;
}
