.arkbites-logo {
  width: auto;
  height: 2rem;
  display: block;
  padding-top: 0.7rem;
}

.arkbites-logo-div {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 0;
  height: 0;
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
  border-bottom: 48px solid rgba(255, 255, 255, 0.1); /* Change color for the triangle base */
}

.arkbites-logo-div:active,
.log-out-button:active,
.nav-link-div:active,
.profile-button-icon:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.arkbites-logo-div:hover,
.log-in-button > button:hover,
.log-out-button:hover,
.nav-menu-button:hover,
.profile-button-icon:hover,
.profile-button-icon > button:hover,
.sign-up-button > button:hover {
  cursor: pointer;
}

.arkbites-logo-div:hover,
.log-in-button > button:hover,
.nav-menu-button:hover,
.profile-button-icon:hover,
.sign-up-button > button:hover {
  scale: 1.04;
}

.author-link,
.source-link {
  color: rgba(255, 255, 255, 0.75);
  width: fit-content;
}

.author-link:hover,
.source-link:hover {
  color: white;
}

.author-links {
  display: flex;
  justify-content: center;
  height: 2rem;
}

.disclaimer {
  font-size: 0.7rem;
}

.disclaimer-line {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-nav-link {
  font-weight: bold;
  font-size: 1.5rem;
}

.dropdown-nav-link-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 1.5rem;
  line-height: 3rem;
  font-size: 1.33rem;
}

.dropdown-nav-link-div,
.nav-link-div {
  font-family: 'Oswald', 'Noto Sans', sans-serif;
}

.dropdown-nav-link-div:hover,
.log-out-button:hover,
.nav-link:hover,
.nav-menu-dropdown li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-nav-link-div:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.github-logo {
  width: 100%;
  height: 100%;
  display: block;
}

.log-in-button > button {
  color: black;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  box-sizing: border-box;
  padding: 0 32px;
  border: none;
  display: flex;
  align-items: center;
}

.log-in-button > button:hover {
  background-color: #f0f0f0;
}

.nav-container {
  background-color: black;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
}

.nav-container-center {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  width: 100%;
  box-sizing: border-box;
}

.nav-container-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-container-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-footer {
  color: rgba(255, 255, 255, 0.5);
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
}

.nav-link {
  font-weight: bold;
  font-size: 1.5rem;
  width: 10rem;
}

.nav-link-div {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 1.5rem;
  line-height: 2.5rem;
  font-size: 1.33rem;
}

.nav-menu-button {
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  box-sizing: border-box;
  width: 4rem;
  height: 3rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.nav-menu-dropdown {
  background-color: #282828;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 4rem;
  font-weight: bold;
  text-align: center;
  z-index: 50;
  box-sizing: border-box;
}

.nav-menu-dropdown li {
  padding: 0.75rem;
  list-style-type: none;
  border-top: 1px rgba(255, 255, 255, 0.1) solid;
}

.nav-menu-dropdown li:first-of-type {
  border-top: none;
}

.profile-button-icon {
  background-color: #1f1f1f;
  width: 3rem;
  height: 3rem;
  box-sizing: border-box;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-button-icon > button {
  color: white;
  background-color: #3b83e8;
  border: none;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Oswald', 'Noto Sans', sans-serif;
}

.profile-dropdown {
  color: white;
  background-color: #282828;
  width: 12rem;
  margin: 0.5rem;
  padding: 0.25rem;
  position: absolute;
  right: 0;
  font-weight: bold;
  z-index: 50;
  box-sizing: border-box;
}

.profile-dropdown li {
  padding: 0.75rem;
  list-style-type: none;
}

.profile-dropdown li:first-of-type {
  border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
}

.profile-dropdown-line-2 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}

.sign-up-button > button {
  color: rgba(255, 255, 255, 0.75);
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  box-sizing: border-box;
  padding: 0 32px;
  border: none;
  display: flex;
  align-items: center;
}

.sign-up-button > button:hover {
  color: white;
}

@media only screen and (max-width: 500px) {
  .author-links {
    height: 1.5rem;
  }

  .disclaimer {
    font-size: 0.6rem;
  }
}
