.cancel-delete-button {
  background-color: rgba(255, 255, 255, 0.75);
}

.cancel-delete-button,
.confirm-delete-button {
  font-weight: bold;
  border: none;
}

.cancel-delete-button:hover,
.confirm-delete-button:hover {
  cursor: pointer;
  scale: 1.04;
}

.confirm-delete-button {
  background-color: rgb(200, 0, 0);
}

.confirm-delete-modal-buttons-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.confirm-delete-modal-div {
  color: white;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.confirm-delete-modal-h3 {
  margin: 0;
}

@media only screen and (max-width: 700px) {
  .cancel-delete-button,
  .confirm-delete-button {
    font-size: 0.8rem;
    padding: 0.25rem 1.5rem;
    height: 2.5rem;
  }

  .confirm-delete-modal-div {
    padding: 3rem 2rem;
  }

  .confirm-delete-modal-h3 {
    font-size: 1.15rem;
  }
}

@media only screen and (min-width: 701px) {
  .cancel-delete-button,
  .confirm-delete-button {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    height: 3rem;
  }

  .confirm-delete-modal-div {
    padding: 4rem 6rem;
  }

  .confirm-delete-modal-h3 {
    font-size: 1.5rem;
  }
}
