.add-operator-modal-buttons-div {
  display: flex;
  gap: 1rem;
}

.add-operator-modal-div {
  color: white;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.add-operator-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.add-operator-modal-h1 {
  margin: 0 0 1rem;
}

.add-operator-modal-operator-card {
  width: 100%;
  position: relative;
}

.add-operator-modal-operator-card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.add-operator-modal-operator-card:hover,
.cancel-add-operator-button:hover,
.confirm-add-operator-button:hover {
  cursor: pointer;
}

.add-operator-modal-operator-card.selected,
.add-operator-modal-operator-card:active {
  background-color: rgba(255, 255, 255, 0.25);
}

.add-operator-modal-operator-icon {
  height: 100%;
}

.add-operator-modal-operator-icon-div {
  height: 4.5rem;
}

.add-operator-modal-operator-name {
  width: 100%;
  font-size: 0.75rem;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

.add-operator-modal-operators-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4.5rem, 1fr));
  gap: 0.25rem;
  width: 50vw;
  max-width: 66rem;
  max-height: 30rem;
  overflow: auto;
}

.cancel-add-operator-button {
  background-color: rgba(255, 255, 255, 0.75);
}

.cancel-add-operator-button,
.confirm-add-operator-button {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  height: 3rem;
  border: none;
}

.cancel-add-operator-button:hover,
.confirm-add-operator-button:hover {
  scale: 1.04;
}

.confirm-add-operator-button {
  background-color: #3b83e8;
}

input[type='checkbox'] {
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 700px) {
  .add-operator-modal-bottom-div {
    flex-direction: column;
    gap: 1rem;
  }

  .add-operator-modal-div {
    padding: 3rem 2rem;
  }
}

@media only screen and (min-width: 701px) {
  .add-operator-modal-bottom-div {
    gap: 1.5rem;
  }

  .add-operator-modal-div {
    padding: 4rem 6rem;
  }
}
